<div class="assignments postion-relative" style='margin-bottom: 2rem;'>
  <% @task.assignments.each_with_index do |assignment, index| %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{assignment.contributor.nickname}", class: "avatar #{'over-user' if index < @task.assignments.size}" %>

  <% end %>
  <!-- Button trigger modal -->
  <%= button_tag '+', type: 'button',
                      data: {
                        bs_toggle: 'modal',
                        bs_target: '#exampleModal'
                      },
                      class: 'btn__plus',
                      style: 'margin-left: 1rem;' %>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-header__content">
            <h5 class="modal-title" id="exampleModalLabel"><%= @task.name %></h5>
            <div class="modal-header__sub-title">
              <p class='modal-title__sub'>
                <%= @task.expected_end_date.strftime('%d/%m') %>
              </p>
              <span class='dot'></span>
              <div class="limit-date">
                <%= icon('far','clock') %>
                <p>
                  <%= @task.expected_end_date.strftime('%H:%M') %>
                </p>
              </div>
            </div>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= simple_form_for [@task, @assignment] do |f| %>
          <div class="modal-body">
            <%= f.collection_check_boxes :contributor, User.all, :id, :nickname do |b| %>
              <%# <%= raise %>
              <%= b.label(class: 'row align-items-center') { render 'assignments/contributor', b: b } %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
