<tr>
  <td><%= task.id %></td>
  <td><%= task.name %></td>
  <td><%= task.manager.email %></td>
  <td><%= task.capacity %></td>
  <td><%= task.assignments.size %></td>
  <td><%= link_to 'Assign contributor', '#', remote: true, data: { bs_toggle: "modal", bs_target: "#exampleModal" } %></td>
</tr>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__content">
          <h5 class="modal-title" id="exampleModalLabel"><%= task.name %></h5>
          <div class="modal-header__sub-title">
            <p class='modal-title__sub'>
              <%= task.expected_end_date.strftime('%d/%m') %>
            </p>
            <span class='dot'></span>
            <div class="limit-date">
              <%= icon('far','clock') %>
              <p>
                <%= task.expected_end_date.strftime('%H:%M') %>
              </p>
            </div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for [task, @assignment], remote: true do |f| %>
        <div class="modal-body">
          <% @users.each do |user| %>
            <div class="row align-items-center">
              <div class="col-2">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.nickname}", class: 'avatar-large' %>
              </div>
              <div class="col-4">
                <p class="mb-0"><%= user.name %></p>
              </div>
              <div class="col-4">
                <p class="mb-0"><%= user.nickname %></p>
              </div>
              <div class="col-2" data-controller='fill-check-box'>
                <%= f.association :contributor,
                                  as: :check_boxes,
                                  wrapper_html: {
                                    class: 'input--hide'
                                  },
                                  input_html: {
                                    data: {
                                      fill_check_box_target: 'realInput'
                                    }
                                  } %>
                <input type="checkbox"
                       name="user"
                       data-action='change->fill-check-box#updateInput'
                       value="<%= user.id %>"
                       id="<%= dom_id(user) %>">
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%# <button type="button" class="btn btn-primary">Save changes</button> %>
          <%= f.submit "Assign contributors", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
