<div class="container">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Manager</th>
        <th>Capacity</th>
        <th>Contributors</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class='task-row'>
          <td><%= task.id %></td>
          <td><%= task.name %></td>
          <td><%= task.manager.email %></td>
          <td><%= task.capacity %></td>
          <td><%= task.assignments.size %></td>
          <td><%= link_to 'show', task_path(task) %></td>
          <td><%#= link_to 'Assign contributor', '#', remote: true, data: { bs_toggle: "modal", bs_target: "#task_#{task.id}" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
