<div class="menu-layout">
  <%= render 'shared/menu' %>
  <div class="content">
    <%= render 'tasks/top_menu' %>
    <div class="task__content">
      <div class="content__header">
        <h1>Create brand mood boards</h1>
        <p class='text-muted'>Assemble three distinct mood boards for client consideration</p>
      </div>
      <%= render 'tasks/assignments', task: @task %>
      <div class="checklist__bar">
        <% @task.checklist_items.order(:completed).each do |item| %>
          <div class='bar__step <%= 'bar__step-completed' if item.completed %>' style="width: <%= 100 / @task.checklist_items.size %>%;">
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-between">
        <div class="icons">
          <i class="fas fa-bars"></i>
          <i class="fas fa-check check-icon"></i>
        </div>
        <p>Due <%= time_ago_in_words(@task.expected_end_date) %></p>
      </div>
    </div>
  </div>
</div>
