<div class="menu-layout">
  <%= render 'shared/menu' %>
  <div class="content">
    <%= render 'tasks/top_menu' %>
    <div class="task__content">
      <div class="content__header">
        <h1>Create brand mood boards</h1>
        <p class='text-muted'>Assemble three distinct mood boards for client consideration</p>
      </div>
      <%= render 'tasks/assignments', task: @task %>
      <div class="checklist__bar">
        <% @task.checklist_items.order(:completed).each do |item| %>
          <div class='bar__step <%= 'bar__step-completed' if item.completed %>' style="width: <%= 100 / @task.checklist_items.size %>%;">
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-between">
        <div class="icons">
          <i class="fas fa-bars"></i>
          <i class="fas fa-check check-icon"></i>
        </div>
        <p>Due <%= time_ago_in_words(@task.expected_end_date) %></p>
      </div>
      <div class="board" data-controller='task-board'>
        <div class="board__sections">
          <ul>
            <% %w[ Task File Activity ].each do |section| %>
              <%= content_tag :li, section.capitalize, class: "#{'active active-hover' if section == 'Task'}", data: { action: 'click->task-board#changeSection', task_board_target: 'section'} %>
            <% end %>
          </ul>
        </div>
        <div class="board__section">
          <div class="board__header">
            <h3>Checklist</h3>
              <%= button_tag '+', type: 'button', class: 'btn__plus' %>
          </div>
          <%= form_tag task_checklist_items_path(@task), method: :get do %>
            <%= text_field_tag :filter, params[:filter], placeholder: 'Search...' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
