<div class='container my-3' data-controller="instant-search">
  <div class='row'>
    <%= form_tag movies_path, method: :get,
                              class: 'd-flex',
                              data: { instant_search_target: 'url',
                                      action: "keyup->instant-search#send" } do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a movie",
        data: { instant_search_target: 'input' }
      %>
      <%= select_tag "category", options_for_select( %w(Movie TvShow), params[:category]), include_blank: true %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class='row justify-content-center'>
    <% if @movies.all? Movie %>
      <%= render 'movie', locals: { movies: @movies } %>
    <% else %>
      <%= render 'movies_and_tv_shows', movies: @movies %>
    <% end %>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#test">
  Launch demo modal
</button>

<!-- Modal -->
<div data-controller='trip-form' class="modal fade" id="test" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @movie do |f| %>
          <%= f.input :title, wrapper_html: { class: 'show_input', data: { trip_form_target: 'title' } } %>
          <%= f.input :synopsis, wrapper_html: { class: 'hide_input',  data: { trip_form_target: 'synopsis' }} %>
          <%= f.input :original_title, wrapper_html: { class: 'hide_input',  data: { trip_form_target: 'original_title' }} %>
          <%= f.submit %>
        <% end %>
        <button data-action='click->trip-form#next'>Next</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
